<div class="mainSecion container p-3">
    <h3>{{ title }}</h3>
    <ul>
        <li>This is 'directive' in Angular</li>
        <li>used in HTML page directly</li>
    </ul>

    <hr />

    <!-- Example 1: Simple if statement-->
    <h3>if statement</h3>
    <p *ngIf="showMe">
        Hello Jimish
    </p>

    <!-- Example 2: ifBlock using templete -->
    <h3>if block using ng-template</h3>    
    <p *ngIf="showMe2; then ifBlock else elseBlock">
        Hello Jimish in If Block
    </p>
    <ng-template #ifBlock>
        <p>if block template</p>
    </ng-template>

    <!-- Example 3: elseBlock using template -->
    <h3>else block using ng-temppate</h3>    
    <p *ngIf="showMe3 else elseBlock">
        Hello Jimish in Else Block
    </p>
    <ng-template #elseBlock>
        <p>else block template</p>
    </ng-template>

    <!-- Example 4: multiple if else conditions -->
    <h3>Multiple if else condition</h3>
    <p *ngIf="subTitle=='Youtube' && name=='Google'; then ifBlock2 else elseBlock2"></p>
    <ng-template #ifBlock2>
        <p>if else block multiple statement</p>
    </ng-template>
    <ng-template #elseBlock2>
        <p>else block2 Template</p>
    </ng-template>
</div>