<div class="card w-100 shadow">
    <div class="card-header bg-secondary text-white">
        About {{titles.titleComponent }}
    </div>
    <!-- END card-header -->

    <div class="card-body">
        <h5>{{titles.intro}}: {{titles.titleComponent}}(s)</h5>
        <ol type="1">
            <li>                        
                <ol type="a">
                    <li>Call function with Important Events</li>
                    <li>Event with input box and get value</li>
                </ol>
            </li>
            <li>
                <strong>Important Events</strong>
                <ol type="a">
                    <li>events
                        <ol type="i">
                            <li>Click Events on call functions</li>
                        </ol>
                    </li>
                    <li>blur</li>
                    <li>keyup</li>
                    <li>keydown</li>
                </ol>
            </li>
        </ol>

        <h5>{{titles.titleExample}}</h5>
        <div class="accordion" id="accordionBasic">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{titles.titleActions}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionBasic">
                <div class="accordion-body">
                    <app-events></app-events>  
                </div>
              </div>
            </div>
            <!-- <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionBasic">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div> -->
    </div>
    <!-- END Card Body -->   