<div class="card w-100 shadow">
    <div class="card-header bg-secondary text-white">
        About {{titles.titleComponent }}
    </div>
    <!-- END card-header -->

    <div class="card-body">
        <h5>{{titles.intro}}: {{titles.titleComponent}}(s)</h5>
        <ol type="1">
            <li>                        
                <ol type="a">
                    <li>Call function with Important Events</li>
                    <li>Event with input box and get value</li>
                </ol>
            </li>
            <li>
                <strong>Important Events</strong>
                <ol type="a">
                    <li>events
                        <ol type="i">
                            <li>Click Events on call functions</li>
                        </ol>
                    </li>
                    <li>blur</li>
                    <li>keyup</li>
                    <li>keydown</li>
                </ol>
            </li>
        </ol>

        <h5>Events Example</h5>
        <app-events></app-events>
    </div>
    <!-- END Card Body -->   