<div class="card w-100 shadow">
    <div class="card-header bg-secondary text-white">
      About <a href="https://angular.io/guide/property-binding" target="_blank">{{ titles.propBindings }}</a>
    </div>
    <!-- END card-header -->
  
    <div class="card-body">
      <ol type="1">
        <li>
            <p class="mb-0">
                <code>What is {{ titles.propBindings }}?</code>
            </p>
            <ol>
                <li>Use for change the property of the input value attribute</li>
            </ol>
        </li>

        <li>{{titles.propBindings}} vs {{titles.interpolation}}
            <ul>
                <li class="mb-3">
                    <code><strong>{{titles.propBindings}} <br />
                    [{{titles.propBindings}} working only with Numbers, String values] </strong></code><br />
                    <code>Using {{titles.propBindings}} - (disable: boolean = false): </code>
                    <input type="text" [value]=name [disabled]="disable" />                    
                </li>
                <li>
                    <code><strong>{{titles.interpolation}}<br />
                    [{{titles.interpolation}} not working with Boolean values] </strong></code><br />
                    <code>Using {{titles.interpolation}} - (disable: boolean = false): </code>
                    <input type="text" name="user-name" value="{{name}}" disabled="{{disable}}" />                    
                </li>
            </ul>
        </li>
      </ol>
    </div>    
    <!-- END Card Body -->

    <div class="card-header bg-secondary text-white">
        About <a href="https://angular.io/guide/property-binding" target="_blank">{{ titles.twoWayBindings }}</a>
      </div>
      <!-- END card-header -->
    
      <div class="card-body">
        <ol type="1">
          <li>
              <p class="mb-0">
                  <code>What is {{titles.twoWayBindings}}?</code>
              </p>
              <ol>
                  <li>Use for change the property of the input value attribute</li>
              </ol>
          </li>
          <li>
              Property Binding vs Interpolation
              <ol>
                  <li></li>
                  <li> </li>
              </ol>
          </li>  
          <li>{{titles.twoWayBindings}} Example
              <ol>
                  <li>
                     
                  </li>
              </ol>
          </li>
        </ol>
      </div>    
      <!-- END Card Body -->