<div class="card w-100 shadow">
    <div class="card-header bg-secondary text-white">
      About <a href="https://angular.io/guide/architecture-services" target="_blank">{{ titles.titleServices }}</a>
    </div>
    <!-- END card-header -->
  
    <div class="card-body">
      <ol type="1">
        <li>
            <p class="mb-0">
               <code>What is  {{ titles.titleServices }}?</code>
            </p>
            <ol>
                <li>{{ titles.titleServices }} are classes which having data, functions, properties, which we can use/share multiple times </li>
            </ol>
        </li>
        <li>
            Property Binding vs Interpolation
            <ol>
                <li>Interpolation not working with Boolean values</li>
                <li> working only with Numbers, String values</li>
            </ol>
        </li>
      </ol>
    </div>    
    <!-- END Card Body -->