<div class="card w-100 shadow">
    <div class="card-header bg-secondary text-white">
        About <a href="https://angular.io/guide/forms-overview" target="_blank">{{titles.titleComponent }}</a>
    </div>
    <!-- END card-header -->

    <div class="card-body">
        <h5>{{titles.intro}}: {{titles.titleComponent}}(s)</h5>
        <ol type="1">
            <li>Get the value from inputbox and print &amp; display the value</li>
            <li>Using two methods      
                <ol type="i">
                    <li>Get the value on keyup(change)</li>
                    <li>Get the Value with button click</li>
                </ol>
            </li>           
        </ol>
        
        <hr />
        <h5>{{titles.titleExample1}}</h5>

        <input type="text" class="form-control w-25" (keyup)="getName(userName.value)" placeholder="Enter Name" name="name" #userName />

        <p>
            <strong>Value is: </strong>
            {{ titles.displayVal }}
        </p>

        <hr />

        <h5>{{titles.titleExample2}}</h5>
        <input type="text" class="form-control w-25" placeholder="Enter Name and click button" name="name" #userName2 />
        
        <button class="btn btn-primary" (click)="getNameOnClick(userName2.value)">Get UserName</button>

        <p>
            <strong>Value is: </strong>
            {{ titles.displayValOnClick }}
        </p>

        <hr />

        <h5>{{titles.titleExample3}}</h5>
        <label for="userName2" class="text-danger">{{ titles.displayPlaceHolderVal }}</label>
        <input type="text" class="form-control w-25" placeholder="Enter Name and click button" name="name" #userNameVal (keyup)="getplaceHolderValue(userNameVal.placeholder)" />
        
        <button class="btn btn-primary" (click)="getNameOnClick(userNameVal.value)">Get Attribute Value</button>

        <p>
            <strong>Value is: </strong>
            {{ titles.displayValOnClick }}
        </p>