<div class="card w-100 shadow">
  <div class="card-header bg-secondary text-white">
    About {{ titles.titleInterploation }}
  </div>
  <!-- END card-header -->

  <div class="card-body">
    <h3 class="card-title">Main Points</h3>
    <ul type="disc">
      <li>
        <p class="mb-0">
          Use to display dynamic data in HTML page
        </p>
        <p class="mb-0">
          Dynamic data will be coming from TS file, where we create the variable either for String, boolen value or
          numerical values
        </p>
      </li>

      <li>
        <p>
          Types of Interpolation
        </p>

        <ol type="i">
          <li>
            <h5>Simple Interpolation</h5>
            <pre>
                <u><strong>my.component.html</strong></u>
                <strong>Simple Interpolation</strong>
                &#123; &#123; myTitle &#125;&#125;
              
                <u><strong>my.component.ts</strong></u>
                <code>myTitle: string = "My Tiltle Goes Here"</code> 
            </pre>
          </li>

          <li>
            <h5>Interpolation using Objects</h5>
            <pre>                
                <u><strong>my.component.html</strong></u>
                <strong>Object Interpolation</strong>
                  &#123; &#123; titles.firstTitle &#125;&#125;
                  &#123; &#123; titles.subTitle &#125;&#125;
                
                  <u><strong>my.component.ts</strong></u>
                  titles=&#123;
                    firstTitle: "My First Title"
                    subTitle: "My Sub-Title"
                    &#125;
                  myTitle: string = "My Tiltle Goes Here" 
              </pre>
            </li>

            <li>
              <h5>Interpolation using Function</h5>
              <pre>                
                <u><strong>my.component.html</strong></u>
                <strong>Function Interpolation</strong>
                &#123; &#123; getValue() &#125;&#125;
                <u>Output</u>
                Interpolation Value coming from &#123; &#123; My Title &#125;&#125; via function

                <u><strong>my.component.ts</strong></u>
                getValue()&#123;
                  return "My Title"
                &#125;
              </pre>
          </li>

          <li>
            <h5>Interpolation: check value is correct or not using Boolean</h5>
            <pre>
              <u><strong>my.component.html</strong></u>
              <strong>Boolean Interpolation</strong>
              &#123; &#123; title=="<u>myTitle</u>" &#125;&#125;
              <u>Output</u>
              Interpolation Value coming from &#123; &#123; My Title &#125;&#125; via function

              <u><strong>my.component.ts</strong></u>
              title = "<u>Interpolation</u>"
            </pre>
        </li>
        
        <li>
          <h5>Interpolation: in css class</h5>
          <pre>
            <u><strong>my.component.html</strong></u>
            <strong>Interpolation as CSS Class</strong>
            <label class="{{title}}">Value used in class</label>

            <u>Output</u>
            &lt;p class="&#123; &#123;title&#125;&#125;"&gt;Value used in class&lt;/p&gt;

            <u><strong>my.component.ts</strong></u>
            title = "myTitle"
          </pre>
      </li>
        </ol>
      </li>
    </ul>
  </div>
  
  <!-- END Card Body -->