<p><strong>Simple String Interpolation</strong></p>
<p>This is {{ title }}</p>

<br />

<p><strong>Calculation Interpolation</strong></p>
<p>5 + 4: {{ calcs_A + calcs_B }}</p>

<br />

<p><strong>Object Interpolation</strong></p>
<p>User Details: {{UserDetails.firstName+ UserDetails.space + UserDetails.lastName}}</p>
<p>User Location: {{UserDetails.location}}</p>

<br />

<p><strong>Object Interpolation: Print Array</strong></p>
<p>Array contains: {{arrayTest}}</p>
<p>Selected array is: {{arrayTest[2]}}</p>
