<div class="mainSecion container p-3">
    <h3>*ngFor in Angular</h3>
    <p><strong>Steps</strong></p>
    <ol>
        <li>Write some code in HTML file</li>
        <li>Loop with Array with some names</li>        
        <li>loop with array of object with name</li>
    </ol>

    <hr />

    <h4>Favorite colors</h4>
    <div *ngFor="let colors of colorName">{{ colors }}</div>

    <hr />

    <h4>Employee Details</h4>
    <div *ngFor="let employees of employeeNames">
        <ol>
            <li>
                <strong>Name: </strong> <br>
                {{ employees.firstName }}
            </li>
            <li>
                <strong>Email: </strong> <br>
                {{ employees.email }}
            </li>
            <li>
                <strong>Location: </strong> <br>
                {{ employees.location }}
            </li>
        </ol>
        
    </div>
</div>