<div class="container py-3 px-0">
    <table class="table">
        <tr *ngFor="let userHeading of myUserHeadings">
            <th>{{userHeading.ids}}</th>
            <th>{{userHeading.names}}</th>
            <th>{{userHeading.ages}}</th>
            <th>{{userHeading.emails}}</th>
            <th>{{userHeading.locations}}</th>
            <th>{{userHeading.states}}</th>
            <th>{{userHeading.countries}}</th>
        </tr>
        <tr *ngFor="let user of myUsers">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>            
            <td>{{user.location}}</td>
            <td>{{user.state}}</td>
            <td>{{user.country}}</td>
        </tr>
    </table>
</div>