<div class="mainSection container p-3">
    <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h5 class="mb-0">
                        <strong>{{ title }}</strong>
                    </h5>
                </button>
            </h2>

            <div id="flush-collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body border overflow-auto">
                    <nav class="nav flex-column">
                        <ol>
                            <li>What is {{title}} ?</li>
                            <li>How to pass data in Routing</li>
                            <li>How to get data from Routing</li>
                            <li>Interview Questions</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <h2>Example</h2>
            <p><a routerLink="userID/10">User One</a></p>
            <p><a routerLink="userID/20">User Two</a></p>
            <p><a routerLink="userID/40">User Three</a></p>
        </div>
    </div>
</div>