<div class="mainSection">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Brand</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="dropdown-item text-white" aria-current="page" routerLink="dashboard">Home</a>
          </li>

          <li class="nav-item dropdown" id="dropDownOne">
            <a class="dropdown-item text-white dropdown-toggle active" href="#" id="dropDownOne" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Concepts</a>
            <ul class="dropdown-menu bg-secondary">
              <li><a class="dropdown-item text-white" aria-current="page" routerLink="click-events">Click Events</a>
              </li>
              <li><a class="dropdown-item text-white" routerLink="interpolation">Interpolation</a></li>
              <li><a class="dropdown-item text-white" routerLink="routing-basics">Routing</a></li>
              <li><a class="dropdown-item text-white" routerLink="get-text-box-val">Input Text</a></li>
              <li><a class="dropdown-item text-white" routerLink="ng-if">Ng If</a></li>
              <li><a class="dropdown-item text-white" routerLink="ng-switch">Ng Switch</a></li>
              <li><a class="dropdown-item text-white" routerLink="ng-for-loop">Ng For Loop</a></li>
              <li><a class="dropdown-item text-white" routerLink="property-binding">Property Binding</a></li>
              <li><a class="dropdown-item text-white" routerLink="app-simple-forms">Angular Simple Forms</a></li>
              <li><a class="dropdown-item text-white" routerLink="app-form-validations">Angular Forms Validations</a>
              </li>
              <li><a class="dropdown-item text-white" routerLink="app-cli">Angular-CLI</a></li>
              <li> <a class="dropdown-item text-white" href="#"> Architecture &raquo; </a>
                <ul class="submenu dropdown-menu bg-secondary">
                  <li><a class="dropdown-item text-white" routerLink="app-components">Components</a></li>
                  <li><a class="dropdown-item text-white" routerLink="app-module">Module</a></li>
                  <li><a class="dropdown-item text-white" routerLink="app-services">Services</a></li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item text-white" routerLink="app-counter">Counter</a>
              </li>
            </ul>
          </li>
          <!-- END Concepts -->          
        </ul>
      </div>
      <!-- navbar-collapse.// -->
    </div>
    <!-- container-fluid.// -->
  </nav>
  <!-- END navBar  -->
  <router-outlet></router-outlet>
</div>