<div class="mainSection">
  <nav class="navbar navbar-expand-lg bg-gradient bg-primary shadow">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">myuxguide | </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLink="dashboard">Dashboard</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white active" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Angular Concepts
            </a>
            <ul class="dropdown-menu bg-secondary bg-gradient text-white text-bold" aria-labelledby="navbarDropdown">              
              <li><a class="nav-link text-white" aria-current="page" routerLink="click-events">Click Events</a></li>
              <li><a class="nav-link text-white" routerLink="interpolation">Interpolation</a></li>
              <li><a class="nav-link text-white" routerLink="get-text-box-val">Input Text</a></li>
              <li><a class="nav-link text-white" routerLink="ng-if">Ng If</a></li>
              <li><a class="nav-link text-white" routerLink="ng-switch">Ng Switch</a></li>
              <li><a class="nav-link text-white" routerLink="ng-for-loop">Ng For Loop</a></li>
              <li><a class="nav-link text-white" routerLink="property-binding">Property Binding</a></li>
              <li><a class="nav-link text-white" routerLink="routing-basics">Routing Basics</a></li>
              <li><a class="nav-link text-white" routerLink="app-simple-forms">Angular Simple Forms</a></li>
              <li><a class="nav-link text-white" routerLink="app-form-validations">Angular Forms Validations</a></li>              
              <li><a class="nav-link text-white" routerLink="app-cli">Angular-CLI</a></li>              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white active" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Angular Architecture
            </a>
            <ul class="dropdown-menu bg-secondary bg-gradient text-white text-bold" aria-labelledby="navbarDropdown">
              <li><a class="nav-link text-white" routerLink="app-components">Components</a></li>
              <li><a class="nav-link text-white" routerLink="app-module">Module</a></li>
              <li><a class="nav-link text-white" routerLink="app-services">Services</a></li>
            </ul>
          </li>
        </ul>

        <a class="nav-link text-white" routerLink="app-login">User</a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>