<div class="container py-3 px-0">
    <h3>{{ titles.pageTitle }}</h3>
    
    <hr />
    
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-propertyBinding-tab" data-bs-toggle="pill" href="#v-pills-propertyBinding" role="tab" aria-controls="v-pills-propertyBinding" aria-selected="false">{{titles.titleBinding}}</a>
        </div>

        <div class="tab-content w-100" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-propertyBinding" role="tabpanel" aria-labelledby="v-pills-propertyBinding-tab">
            <app-propbinding></app-propbinding>
          </div>
            <!-- END propertyBinding -->
        </div>
      </div>
  </div>