<div class="mainSection container-fluid p-3">
    <h3>{{ titles.titleComponent }}</h3>
    
    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a *ngFor="let compnavs of componentLists" [class]="compnavs.class" [id]="compnavs.id" data-bs-toggle="pill" [href]="compnavs.links" role="tab" aria-controls="v-pills-controls" aria-selected="true">{{compnavs.label}}</a>
        </div>

        <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-autocomplete" role="tabpanel" aria-labelledby="v-pills-tab">
            <app-autocomplete></app-autocomplete>
        </div>

          <div class="tab-pane fade" id="v-pills-tableData" role="tabpanel" aria-labelledby="v-pills-tableData-tab">
              <app-tabledata></app-tabledata>
          </div>
        </div>
      </div>
    </div>