<div class="mainSection container p-3">
    <h3>{{ titles.titleComponent }}</h3>
    
    <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item mb-1">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button bg-primary bg-gradient text-white rounded shadow collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h5 class="mb-0">{{ titles.titleHeading }}</h5>
                </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush">
            <div class="accordion-body border overflow-auto">
                <nav class="nav flex-column">
                    <ol>
                        <li><code>Focused Points:</code>
                                <ol type="a">
                                    <li>What is Componenet?</li>
                                    <li>How we can make component
                                        <ol type="i">
                                            <li>
                                                <code>ng generate component myComponentName</code>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>How to use Componenet?
                                        <ol type="i">
                                            <li>
                                                <code>import component into app.module.ts <strong>or</strong> any of the custom module(s)</code>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Interview Questions</li>
                                </ol>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            </div>
        </div>
    </div>