<nav class="navbar navbar-expand-xl navbar-dark bg-primary shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{titles.pageTitle}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item" *ngFor="let navLists of navBarLists">
            <a class="nav-link active" aria-current="page" [routerLink]="navLists.routerLink">{{navLists.navName}}</a>
          </li>
        
        <li class="nav-item text-white"><a class="nav-link" href="{{titles.presentLink}}" target="_blank">You Are Here</a></li>
        </ul>        
      </div>

      <div aria-label="breadcrumb" class="w-25 float-end">
        <ol class="navbar-nav me-auto mb-2 mb-xl-0 float-end">
          <li class="nav-item">
            <a class="nav-link" routerLink="help">{{titles.help}}</a>
          </li>
        </ol>
      </div>
    </div>   
</nav>