<nav class="navbar navbar-expand-xl navbar-dark bg-primary shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{titles.pageTitle}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="concepts">{{titles.navConcepts}}</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="architecture">{{titles.navArchitecture}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user">User</a>
          </li>
        </ul>        
      </div>

      <div aria-label="breadcrumb" class="w-25 float-end">
        <ol class="breadcrumb float-end">
          <li class="breadcrumb-item text-white" aria-current="page">You Are <a class="text-white" href="https://www.youtube.com/watch?v=xxMcTMYUZi0&list=PL8p2I9GklV45--5t7_N4lveUI6Y31vQ6C&index=16&ab_channel=CodeStepByStep" target="_blank">Here</a></li>
        </ol>
      </div>
    </div>   
</nav>