<div class="mainSecion container p-3">
    <h3>Angular: {{title}}</h3>
    <div class="card">
        <div class="card-header">
          About Counter
        </div>
        <div class="card-body">
          <h5 class="card-title">What's new in Angular 12?</h5>
          <ol type="a">
            <li><code>Make Button for Counter</code></li>
            <li><code>Make function for Counter</code></li>
            <li><code>Call function on Button</code></li>
            <li><code>Interview Questions</code></li>          
          </ol>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    

</div>