<div class="card w-100 shadow">
    <div class="card-header bg-secondary text-white">
        About <a class="refLink" href="https://angular.io/guide/component-overview" target="_blank">{{
            titles.titleComponent }}</a>
    </div>
    <!-- END card-header -->

    <div class="card-body">
        <h5>{{titles.intro}}: {{titles.titleComponent}}(s)</h5>
        <ol type="1">
            <li>
            <code><u>my.component.ts</u></code> <br />
<code>
getName&lpar;&rpar; &lcub; <br />
    &nbsp; &nbsp; alert&lpar;"Function Called"&rpar;;<br />
&rcub;
</code>
            </li>
        </ol>
    </div>

    <!-- END Card Body -->