<div class="mainSection container">
    <h3>{{ titles.title }}</h3>
    <hr />

    <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item">
          <h2 class="accordion-header border" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h5 class="mb-0">{{ titles.titleOne }}</h5>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
            <div class="accordion-body border overflow-hidden">
                <strong>Need to focus on below topics</strong>
                <ol>
                    <li>Required steps & suggestions for Installation</li>
                    <ol type="a">
                        <li>
                            Install Node and NPM: LTS versions only
                        </li>
                        <li>
                            <strong><i>Install Angular CLI:</i></strong> <br />
                            <code>npm install -g @angular/cli</code>
                        </li>
                        <li>
                            <strong><i>Install specific Angular CLI</i></strong> <br />
                            <code>Example...</code> <br />
                            <code>npm install -g @angular/cli@10.0.0</code>
                        </li>
                        <li>
                            <strong>Create Angular App:</strong> <br />
                            <code>ng new myAppName</code> <br />
                            <code>cd myAppName</code> <br />
                            <code>ng serve</code> <br /> or <br />
                            <code>npm run start</code>
                        </li>
                        <li>Interview Questions</li>
                    </ol>
                    <li>Structure</li>
                    <li>Basic</li>
                    <li>MVC</li>
                    <li>Advance</li>
                    <li>Routing</li>
                    <li>API</li>
                    <li>Forms</li>
                    <li>Interview: How to crack Interview</li>
                    <li>Project</li>
                    <li>Wahst's new in Angular 12</li>
                    <li>How to use CSS</li>
                </ol>
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header border" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h5 class="mb-0">{{ titles.titleTwo }}</h5>
                </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse hide" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush">
            <div class="accordion-body border overflow-auto">
                <strong>For Beginners</strong>
                <ol>
                    <li><code>package.json</code></li>
                    <li><code>node_modules</code></li>
                    <li><code>src</code></li>
                    <ol type="a">
                        <li><code>app</code></li>
                        <li><code>assets</code></li>
                        <li><code>environments</code></li>
                        <li><code>index.html</code></li>
                        <li><code>main.ts</code>
                            <ol type="i">
                                <li>Use connect/Bootstrap html and angular application</li>
                            </ol>
                        </li>
                        <li><code>style.css</code></li>
                    </ol>
                </ol>

                <hr />

                <strong>For Advanced Use</strong>
                <ol>
                    <li><code>package-lock.json</code>
                        <ol type="a">
                            <li>Keep the details of each package, which required dependencies</li>
                        </ol>
                    </li>
                    <li><code>angular.json</code></li>
                    <li><code>tsconfig.json</code>
                        <ol type="a">
                            <li>Is handles Global Configurations</li>
                            <li>Typescript configuration files</li>
                            <li>Targets ecmascripts versions, which needs to be target</li>
                        </ol>
                    </li>
                    <li><code>tsconfig.app.json</code>
                        <ol type="a">
                            <li>Is handle Typescript Application Configuration</li>
                        </ol>
                    <li><code>tsconfig.spec.json</code>
                        <ol type="a">
                            <li>Is handles Test Configurations</li>
                            <li>We can includes new files as well <br />
                                <code>
                                    <strong>Example:</strong> <br />
                                    "files": [<br />
                                        &nbsp; "src/test.ts",<br />
                                        &nbsp; "src/polyfills.ts"<br />
                                    ],<br />
                                    "include":[<br />
                                        &nbsp; "src/**/*.spec.ts", <br />
                                        &nbsp; "src/**/*.d.ts"<br />
                                    ]
                                </code>
                            </li>
                        </ol>
                    </li>
                    <li><code>.browserslistrc</code>
                        <ol type="a">
                            <li>Contains all the supported browser details as below <br />
                                <strong>Command to check Browser Lists</strong>
                                <code>
                                    [npx browserslist] <br />
                                    last 1 Chrome version
                                    last 1 Firefox version
                                    last 2 Edge major versions
                                    last 2 Safari major versions
                                    last 2 iOS major versions
                                    Firefox ESR
                                </code>
                            </li>
                        </ol>
                    </li>
                    <li><code>karma.conf.js</code>
                        <ol type="a">
                            <li>Contains test file configuration</li>
                            <li>Shows that which browser, libraries needs to be load</li>
                            <li>Shows the path details, port details</li>
                        </ol>
                    </li>
                    <li><code>polyfills.ts</code>
                        <ol type="a">
                            <li>Very important File</li>
                            <li>This file includes polyfills needed by Angular and is loaded before the app</li>
                            <li>This file is divided into 2 sections
                                <ol type="i">
                                    <li>Browser polyfills. These are applied before loading ZoneJS and are sorted by browsers</li>
                                    <li>Application imports. Files imported after ZoneJS that should be loaded before your main file.</li>
                                    <li>
                                        <strong>Refer Link: </strong> <br />
                                        <a href="https://angular.io/guide/browser-support" target="_blank"><code>https://angular.io/guide/browser-support</code></a>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header border" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h5 class="mb-0">{{ titles.titleFour }}</h5>
                </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse hide" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush">
            <div class="accordion-body border overflow-auto">
                <nav class="nav flex-column">
                    <ol>
                        <li><a class="nav-link active"
                                href="https://www.itsolutionstuff.com/post/angular-9-create-module-with-routing-exampleexample.html"
                                target="_blank">Angular Ref</a></li>
                        <li><a class="nav-link active" href="https://bootstrap-cheatsheet.themeselection.com/#bg-gradient"
                                target="_blank">HTML 5 cheat sheet</a></li>
                    </ol>
                </nav>
            </div>
          </div>
        </div>
      </div>
   </div>