<div class="card w-100 shadow">
    <div class="card-header bg-secondary text-white">
        About <a class="refLink" href="https://angular.io/guide/component-overview" target="_blank">{{
            titles.titleComponent }}</a> & <a class="refLink" href="https://angular.io/guide/ngmodules"
            target="_blank">{{ titles.titleModule }}</a>
    </div>
    <!-- END card-header -->

    <div class="card-body">
        <h5>{{titles.intro}}: {{titles.titleComponent}}(s)</h5>
        <ol type="1">
            <li>ng Command: <code>ng generate component <i>my{{titles.titleComponent}}Name</i></code></li>
            <li>An HTML template that declares what renders on the page</li>
            <li>A Typescript class that defines behavior</li>
            <li>A CSS selector that defines how the component is used in a template</li>
            <li>Optionally, CSS styles applied to the template</li>
        </ol>

        <hr />

        <h5>{{titles.intro}}: {{ titles.titleComponent }} with {{titles.titleInlineStyle}}(s)</h5>
        <ol type="1">
            <li>
                <code>
                    &commat;Component&lpar;&lcub; <br />
                        &nbsp; &nbsp;selector: 'app-ng-component', <br />
                        &nbsp; &nbsp;templateUrl: './ng-component.component.html', <br/>
                        &nbsp; &nbsp;styleUrls: ['./ng-component.component.css'] <br />             
                    &rcub;&rpar;
                </code>
            </li>
            <li>A Typescript class that defines behavior</li>
            <li>A CSS selector that defines how the component is used in a template</li>
            <li>Optionally, CSS styles applied to the template</li>
        </ol>

        <hr />

        <h5>{{titles.intro}}: {{ titles.titleComponent }} with {{titles.titleInlineTermplate}}(s)</h5>
        <ol type="1">
            <li>An HTML template that declares what renders on the page</li>
            <li>A Typescript class that defines behavior</li>
            <li>A CSS selector that defines how the component is used in a template</li>
            <li>Optionally, CSS styles applied to the template</li>
        </ol>

        <hr />

        <h5>{{titles.intro}}: {{titles.titleModule}}(s)</h5>
        <ol type="1">
            <li>ng Command: <code>ng generate module <i>my{{titles.titleModule}}Name</i></code></li>
            <li>An HTML template that declares what renders on the page</li>
            <li>A Typescript class that defines behavior</li>
            <li>A CSS selector that defines how the component is used in a template</li>
            <li>Optionally, CSS styles applied to the template</li>
        </ol>
    </div>

    <!-- END Card Body -->