<h3>Property Binding</h3>
<p><strong>Important Notes</strong></p>
<ol>
    <li>Its similar to interpolation</li>
    <li>Sometimes we unable to use interpolation, we must need to use Property Binding</li>
</ol>

<p><strong>Example-1: Using input</strong></p>
<input class="mb-2" type="text" name="{{title}}" disabled={{disableTextBox}} /> <br />
<input type="text" [name]="title" [disabled]="disableTextBox" />

<p><strong>Example-2: Show Hide Element</strong></p>
<button class="btn btn-primary" (click)="btnToggle()">{{buttonName}}</button>
<p [hidden]="showInfo">ewdwsdewsde</p>
