<div class="mainSecion container p-3">
    <h3>{{ title }}</h3>
    <hr />

    <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item">
            <h2 class="accordion-header border" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h5 class="mb-0">{{ title }}</h5>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlush">
                <div class="accordion-body border overflow-hidden">
                    <ol>
                        <li>
                            <ol>
                                <li>component.html file [simple-forms.component.html]
                                    <ul>
                                        <li>Write HTML form</li>
                                        <li>Add Error Messages in HTML Form elements</li>
                                        <li>For error message use if condition, that if faile than error message shlould
                                            be displayed</li>
                                    </ul>
                                </li>

                                <li>component.ts file [i.e. simple-forms.component.ts]
                                    <ul>
                                        <li>import form builder and get value</li>
                                        <li>import validator</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>

                        <li>Add Validation Code</li>

                        <li>Add Validation Message</li>
                    </ol>
                </div>
            </div>

            <hr />

            <!-- Create HTML for Forms -->
            <form [formGroup]="userInfo" (ngSubmit)="userInfo.value" (ngSubmit)="OnSubmit(userInfo.value)">
                <div class="pb-2">
                    <input id="getName" type="text" formControlName="user" placeholder="Enter Name" #getName />
                    <div *ngIf="getName.oninvalid">
                        Invalid User
                    </div>
                </div>

                <div class="pb-2">
                    <input type="text" formControlName="addr" placeholder="Enter Address" #getAddr />
                </div>

                <div class="pb-2">
                    <button class="btn btn-primary" type="submit"
                        (click)="getValue(getName.value, getAddr.value)">Submit</button>
                </div>

                <p>
                    This is {{ nameVal }}, {{ addrVal }}
                </p>
            </form>